<h1>Search for a Username:</h1>
<form action="/search" method="GET">
  <label for="username">Username:</label>
  <input type="text" minlength="3" maxlength="20" name="username" />
  <button type="submit">Search</button>
</form>
