<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar', {links: links}) %>
    <ul>
      <% users.forEach((user) => { %> <%- include('../users/user', {user: user})
      %> <%}) %>
    </ul>
    <%- include("../partials/footer", {github: github}) %>
  </body>
</html>
